In [13]:
import pandas

filename_easy = "dsbase-easy.csv"
filename_medium = "dsbase-medium.csv"
filename_hard = "dsbase-hard.csv"

# Read the 'easy' file
df = pandas.read_csv(filename_easy)
print("Read easy file")
print(df.values)
print(list(df))


# Read the 'medium' file
df = pandas.read_csv(filename_medium, lineterminator='#', delimiter='|' )
print("Read medium file")
print(df.values)
print(list(df))


# Read the 'hard' file
df = pandas.read_csv(filename_hard, lineterminator='#', delimiter='|' )
print("Read hard file")
print(df.values)
# the header has an extra column
print(len(df[df.SPEND.notnull()])) # this is 0, so the only row with 6 columns is the header
# reread the data without the header
df = pandas.read_csv(filename_hard, lineterminator='#', delimiter='|', skiprows = 1, header = None, names=['CID','GENDER','AGE','SPEND'])
print(df.values)
print(list(df))

print("Are there any nulls in the data?")
print(df.isnull()) # Many nulls, will fix by column

print("Testing CID column")
print(df['CID'].head(10)) # type is int64, so it seems to be right
df[df.CID.isnull()] # no nulls here
# are there any duplicates?
ids = df['CID']
df[ids.isin(ids[ids.duplicated()])].sort_values(by='CID')

print("Testing SPEND column")
print(df['SPEND'].head(10)) #type float63, so no wrong character values
df[df.SPEND.isnull()] # a few rows with nulls. I replace with 0, another solution can be to reject the rows. The solution would depend on a particular need
df['SPEND'].fillna(0, inplace=True)
print(df[df.SPEND.isnull()]) 

print("Testing AGE column")
print(df['AGE'].head(10)) #type int64, so no wrong character values
print(df[df.AGE.isnull()] ) #no nulls
# if age is more than 120, probably, that's an error. Again, I replace with 0, but another solution may be necessary depending on the needs
df.ix[df.AGE > 120, 'AGE'] = 0

print("Testing GENDER column")
print(df['GENDER'].head(10)) # type object, need to check if gender is only M or F. If not, replace with N for 'Not known'
df['GENDER'].fillna(0, inplace=True) # this seems to be unnecessary in python but in other languages may be necessary to get rid of nulls before comparing characters
df['GENDER'] = df['GENDER'].apply(lambda x: 'N' if (x != 'M' and x != 'F') else x)

print("A view on the fixed dataset")

print(df.head(10))
# I did not find the name of any Asian country because there seem to be only charachers for SUDAN and OMAN but they are not in order

Read easy file
[[0 'M' 21 124.10592492857941]
 [1 'F' 26 130.6696354990984]
 [2 nan 27 113.9099206787524]
 ...,
 [9997 'M' 20 141.52960207880076]
 [9998 'F' 25 184.64666782939054]
 [9999 'F' 22 104.93503276886801]]
['CID', 'GENDER', 'AGE', 'SPEND']
Read medium file
[[0 'M' 21 124.10592492857941]
 [1 'F' 26 130.6696354990984]
 [2 nan 27 113.9099206787524]
 ...,
 [9997 'M' 20 141.52960207880076]
 [9998 'F' 25 184.64666782939054]
 [9999 'F' 22 104.93503276886801]]
['CID', 'GENDER', 'AGE', 'SPEND']
Read hard file
[[0 'M' 21 124.10592492857941 nan]
 [1 'F' 26 130.6696354990984 nan]
 [2 nan 27 113.9099206787524 nan]
 ...,
 [9997 'M' 20 141.52960207880076 nan]
 [9998 'F' 25 184.64666782939054 nan]
 [9999 'F' 22 104.93503276886801 nan]]
0
[[0 'M' 21 124.10592492857941]
 [1 'F' 26 130.6696354990984]
 [2 nan 27 113.9099206787524]
 ...,
 [9997 'M' 20 141.52960207880076]
 [9998 'F' 25 184.64666782939054]
 [9999 'F' 22 104.93503276886801]]
['CID', 'GENDER', 'AGE', 'SPEND']
Are there any nulls in the data?
        CID GENDER    AGE  SPEND
0     False  False  False  False
1     False  False  False  False
2     False   True  False  False
3     False  False  False  False
4     False  False  False  False
5     False  False  False  False
6     False  False  False  False
7     False  False  False  False
8     False  False  False   True
9     False  False  False  False
10    False  False  False  False
11    False  False  False  False
12    False  False  False  False
13    False  False  False  False
14    False  False  False   True
15    False  False  False  False
16    False  False  False  False
17    False  False  False  False
18    False  False  False   True
19    False   True  False  False
20    False  False  False  False
21    False  False  False  False
22    False  False  False  False
23    False  False  False  False
24    False  False  False   True
25    False  False  False  False
26    False  False  False  False
27    False  False  False  False
28    False  False  False  False
29    False  False  False  False
...     ...    ...    ...    ...
9970  False  False  False   True
9971  False   True  False  False
9972  False  False  False  False
9973  False  False  False  False
9974  False  False  False  False
9975  False   True  False   True
9976  False  False  False   True
9977  False   True  False  False
9978  False  False  False  False
9979  False  False  False  False
9980  False  False  False  False
9981  False  False  False  False
9982  False  False  False  False
9983  False  False  False  False
9984  False   True  False  False
9985  False  False  False  False
9986  False  False  False   True
9987  False  False  False  False
9988  False  False  False  False
9989  False  False  False  False
9990  False  False  False   True
9991  False  False  False  False
9992  False   True  False  False
9993  False  False  False  False
9994  False  False  False  False
9995  False  False  False  False
9996  False  False  False  False
9997  False  False  False  False
9998  False  False  False  False
9999  False  False  False  False

[10000 rows x 4 columns]
Testing CID column
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: CID, dtype: int64
Testing SPEND column
0    124.105925
1    130.669635
2    113.909921
3    115.658336
4     64.174437
5    124.502010
6    106.479038
7    104.106426
8           NaN
9     72.873095
Name: SPEND, dtype: float64
Empty DataFrame
Columns: [CID, GENDER, AGE, SPEND]
Index: []
Testing AGE column
0    21
1    26
2    27
3    26
4    25
5    26
6    28
7    24
8    24
9    23
Name: AGE, dtype: int64
Empty DataFrame
Columns: [CID, GENDER, AGE, SPEND]
Index: []
Testing GENDER column
0      M
1      F
2    NaN
3      F
4      F
5      F
6      M
7      M
8      M
9      F
Name: GENDER, dtype: object
A view on the fixed dataset
   CID GENDER  AGE       SPEND
0    0      M   21  124.105925
1    1      F   26  130.669635
2    2      N   27  113.909921
3    3      F   26  115.658336
4    4      F   25   64.174437
5    5      F   26  124.502010
6    6      M   28  106.479038
7    7      M   24  104.106426
8    8      M   24    0.000000
9    9      F   23   72.873095